<Files ~ "\.(htaccess)$">
order allow,deny
deny from all
</Files>


<IfModule mod_rewrite.c>
  RewriteEngine on
  RewriteRule ^(classes) - [F]
  RewriteRule ^(config) - [F]
  RewriteRule ^(funktion/*) - [F]
  RewriteRule ^(libaries) - [F]
  RewriteRule ^(navbar) - [F]
  RewriteRule ^(translations) - [F]
  RewriteRule ^(views) - [F]
</IfModule>

Options All -Indexes
