/*
styles für platinenindex.php (view: logged_in.php)
*/

body,html {
  height: 100%;
  zoom: 75%;
  overflow: auto!important;
}


h2 {
  text-align: center;
  line-height: 129px; 
  height: 120px;
}




  /*-- Navigationsleiste --*/
   .navbar {
    background:#005ea9;
    position: relative;
  }


  .fas.fa-plus-square {
  color: #005EA9;
  }

  .table td {
    text-align: center;
    vertical-align: middle !important;  
 }
 
  .nav-link,
  .navbar-brand {
    color: white;
    cursor: pointer;
  }

  .nav-link {
    margin-right: 0em !important;
    display: inline;
    font-size: 20px;
    vertical-align: baseline!important;
  }

  .nav-link:hover,
  .navbar-brand:hover {
    color: white;

    

  }
  .navbar-collapse {
    justify-content: flex-end;
  }

  @media screen and (max-width: 768px) {

    #main-navigation {
      margin-bottom: -9px;
    }
    
    #button2container {
      margin-top: 0px;
      margin-bottom: 14px;
    }
    
    }



/*
  Tabelle
*/

.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
}

.table.text-center.table-hover tr{
  cursor: pointer;
}

/*
  Tabelle ohne line breaks 
*/
.table-responsive {
  white-space:nowrap;
  }


/*
icons der buttons
*/
#icons{
  color:#005ea9;
  font-size: 26px;
  vertical-align: middle;
  font-size: 34px;
  
}

#icons:hover{
  color: #0000cc;
}




/*
buttons bar
*/

.mb-3, .my-3{
  height: 50px;
}


/*
buttons blauenrand entfernen
*/

#button1 {
  outline: none !important;
  box-shadow: none;
} 
/*
bug entfernen (linie neben icon bei hover) 
*/


.liniebug, .fa.fa-edit, .fa.fa-trash-alt {
  text-decoration: none !important
}

#iconklasse {
  color: #005ea9;
  padding-right: 9px;
  padding-left: 9px;
  font-size: 18px;
}



#iconklasse:hover {
  color: #0000cc;
}


/*
spalte für icons breiter machen
*/

#breiter {
  padding:0;
}



/*
confirm container für knöpfe
*/
.jconfirm.jconfirm-light .jconfirm-box .jconfirm-buttons{
  float: none;
  text-align: center;
}


/*
confirm container für body
*/
.jconfirm.jconfirm-light .jconfirm-box {
  text-align: center;
}


/*
confirm knöpfe anordnung
*/
.jconfirm .jconfirm-box .jconfirm-buttons button {
  margin-bottom: 6px;
  margin-left: 23px;
  margin-right: 23px;
  width: 92px;
}


/*
confirm knöpfe div anordnung
*/

.jconfirm.jconfirm-light .jconfirm-box .jconfirm-buttons {
  float: none;
  text-align: center;
  margin-right: -15px;
  margin-left: -15px;
  
}


/*
confirm knöpfe farbe
*/
.jconfirm.jconfirm-light .jconfirm-box .jconfirm-buttons button {
text-transform: uppercase;
font-size: 14px;
font-weight: bold;
text-shadow: none;
background-color: #005ea9;
outline: none !important;
box-shadow: none!important;
}

/*
confirm leeren div in body entfernen
*/
.jconfirm .jconfirm-box div.jconfirm-content-pane.no-scroll {
  display: none!important;
}



/*
tabelle ausblenden, bis javascript die Tabelle aufruft
*/
#tabelle1 {
  display:none;
}

/*
Formatierungen 
*/
#tabellecontainer {
  margin-bottom: 86px;
}


div.dataTables_wrapper div.dataTables_paginate ul.pagination {
  margin-top: 16px;
}

div.row {
  margin-top: 3px!important;
}


/*
pegination responsive machen 
*/
ul.pagination {
 

  display: -ms-flexbox;
  flex-wrap: wrap;
  display: flex;
  justify-content: flex-end;
 
}

/*
Pegination Farbe von zahlen
*/
.page-link {
  color:#005ea9;
}

/*
Pegination bei clicken blauen rand entfernen
*/
.page-link:focus {
  outline: none !important;
  box-shadow: none;
}

/*
Pegination active farbe
*/

.page-item.active .page-link {
  background-color: #005ea9;
  border-color: #005ea9;
}



/*
searchbox verschieben
*/

div.dataTables_wrapper div.dataTables_filter label {
margin-right: -1px;
margin-top: 8px;
}


/*
Reihen pro seite verschieben
*/

div.dataTables_wrapper div.dataTables_length label {
  margin-top: 18px;
  margin-left: 3px;
}

div.dt-buttons {
  color:white;
}

/*
Export buttons farbe ändern und blaue umrandung ausstellen
*/

.btn-aktion {
  color: white;
  background-color: #005ea9;
  border-color:#005ea9;
  outline: none !important;
  box-shadow: none!important;
}


.btn-aktion:hover{
  color: white;
  background-color: #0000cc!important;
  border-color:#0000cc!important;
}


div.dataTables_wrapper div.dataTables_filter {
  margin-right: 5px;
}

.btn-group {
  display: inherit;
}


/*
Breakpoints anpassen von export buttons
*/
@media screen and (max-width: 767px) {
  div.dt-buttons {
                  text-align:center;
                  float: none;
                  flex: unset;
                  max-width: none;
                  }
                  
}

/*
damit bei breakpoint die export und such optionen center sind bzw center funktionieren lamm
*/
.col-sm-12 {
  padding-left: 0px !important;
  padding-right: 0px !important;
}


/*
modal button anpassen
*/
#button2 {
  background-color: #005ea9;
  border-color:#005ea9;
  outline: none !important;
  box-shadow: none!important;
}

#button2:hover{
  background-color: #0000cc!important;
  border-color:#0000cc!important;
}


#benutzer {
  margin-right: 21px !important;
}

/*filter button*/

#button3 {
  background-color: #005ea9;
  border-color: #005ea9;
  outline: none !important;
  box-shadow: none !important;
  font-size: 13px;
  width: 30px;
  height: 30px;
  margin-right: 14px;
 
}


#button3:hover{
  background-color: #0000cc!important;
  border-color:#0000cc!important;
}

/*filter icon*/

#icon2 {
  margin-left: -4px;
}


/* Aktion sortier pfeile entfernen */

.no-sort::after { display: none!important; }

.no-sort::before { display: none!important; }

.no-sort { pointer-events: none!important; cursor: default!important; }

/*
.table.text-center.table-hover.border.dataTable.no-footer {
  width: 100%;
}
*/

.klick {
  background-color:#ECECEC;
}

/* loeschen ja nein mittig machen */
.bootbox {
  display: flex !important;
  align-items: center;
  justify-content: center;
  margin-left: -8px!important;
}


.button6 {
  background-color: #005ea9!important;
  border-color:#005ea9!important;
  outline: none !important;
  box-shadow: none!important;
  float: right;
  margin-top: 8.5px;
  font-size: 13px;
  height: 33px;
  margin-left: 50px;
  width: 80px;
}


.button6:hover{
  background-color: #0000cc!important;
  border-color:#0000cc!important;
}

.button7 {
  background-color: #005ea9!important;
  border-color:#005ea9!important;
  outline: none !important;
  box-shadow: none!important;
  float: right;
  margin-top: 8.5px;
  font-size: 13px;
  height: 33px;
  margin-right: 50px;
  width: 80px;
}


.button7:hover{
  background-color: #0000cc!important;
  border-color:#0000cc!important;
}


#tabellecontainer {
  display:none;
}

#iconklasse2 {
  color: #005ea9;
  padding-right: 9px;
  padding-left: 9px;
  font-size: 19px;
}



#iconklasse2:hover {
  color: #0000cc;
}


.buttons-csv {
  margin-right: -4px!important;
}

.buttons-pdf {
  margin-left: -5px!important;
}
/*
toggler icon größe
*/
.navbar-toggler-icon {
  font-size: 15px;
}


.navbar1 {
  font-size: 20px;
  margin-left: 23px;
}


.navbar2 {
  font-size: 21px;
}


#nutzen {
  margin-left: 21px !important;
}



/*
navbar bei toggle 
*/
@media (max-width: 767px) {
  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 2px 0 rgba(255,255,255,0.1);
    margin-top: 7px;
}
.navbar-nav {
  margin: 20.5px 0px;
  margin-top: 7px;

}

.nav-item {
  margin-bottom: 19px;
}

.navbar1 {
  float: left;
  font-size: 19px;
  margin-left: 0px;
  margin-top: 16px;
}
.navbar2 {
  float: right;
  font-size: 19px;
  margin-top: 16px;
}

#nutzen {
  margin-left: 0px !important;
}

#benutzer {
  margin-right: 0px !important
}
}



/*
navbar active
*/

.active {
 background-color: #007bff;
}


.nav-link:hover {
  background-color: #007bff;
}



/*
testdaten haken farbe
*/
.check {
  color: green;
}

.error {
  color: red;
}


#iconklasse3 {
  color: #005ea9;
  padding-right: 9px;
  padding-left: 9px;
  font-size: 19px;
}



#iconklasse3:hover {
  color: #0000cc;
}


#iconklasse4 {
  color: grey;
  padding-right: 9px;
  padding-left: 9px;
  font-size: 24px;
}



#iconklasse4:hover {
  color: red;
  cursor: pointer;
}


.selectpicker {
  display: unset!important;
}

#button9 {
  outline: none !important;
  box-shadow: none;
  margin-left: -12px;
} 

.filerhinzufuegen {
  width: 24%;
}

.platinenadd {
  padding-right: 0px;
  padding-left: 0px;
}

.warnung {
  padding-right: 0px!important;
  padding-left: 0px!important;
}


@media screen and (max-width: 990px) {
  #anzahl2 {
    width: 25%;
  }
}

#iconklasse5 {
  color: grey;
  padding-right: 9px;
  padding-left: 9px;
  font-size: 24px;
}



#iconklasse5:hover {
  color: green;
  cursor: pointer;
}


.resultanzahl {
  padding-right: 0px!important;
  padding-left: 0px!important;
}


.p-1 {
  padding: 0.4rem !important;
  margin-top: 32px;
  margin-left: -29px;
}

#anzahl2 {
  width: 76%;
}





#bearbeiter {
  -webkit-appearance: none;
}

#bearbeiterbutton {
  color: #005ea9;
  font-size: 18px;
  
}

#bearbeiterbutton:hover {
  color: #0000cc;
  
}

.bearbeiterbutton {
  background-color: white!important;
  border: 1px solid #ced4da;
  border-radius: .25rem;  
  box-shadow: none!important;
}

.bearbeiterbutton:hover {
  border: 1px solid #ced4da;
}


.input-group {
  margin-bottom: 1rem;
}

:not(output):-moz-ui-invalid {
  box-shadow: 0 0 1.5px 1px white;
}


.ipg1 {
  margin-bottom: 7px;
}


#add {
  background-color: #005ea9;
  border-color:#005ea9;
  outline: none !important;
  box-shadow: none!important;
  margin-top: 6px;
  }
  
  #add:hover{
  background-color: #0000cc!important;
  border-color:#0000cc!important;
  }

  #rem {
    background-color: #005ea9;
    border-color:#005ea9;
    outline: none !important;
    box-shadow: none!important;
    margin-top: 6px;
    }
    
    #rem:hover{
    background-color: #0000cc!important;
    border-color:#0000cc!important;
    }

    #matlbl {
      margin-top: 8px;
    }

    .bearbeiterbutton {
      border-color: #ced4da!important;
    }

    .anzahldiv3 {
      width: 104px;
      margin: 0 auto;
    }

    #anzahl3{
      text-align: center;
      width: 55px;
      outline: none !important;
      box-shadow: none;
    }

    #saveanzahl {
      outline: none !important;
      box-shadow: none;
      background-color: #005ea9;
    }


    #saveanzahl:hover{
      background-color: #0000cc!important;
      border-color:#0000cc!important;
      }

    .checkedcircle {
      font-size: 87%;
      display: flex;
    }

    .errorcircle {
      font-size: 80%;
      display: flex;
    }

    #fehleraddbenutzer{
      margin-top: 6px;
    }

    #uploadfeld {
      opacity: 0;
      width: 0;
    }

    #uploadtext {
      margin-top: -27px;
      margin-bottom: 1px
    }

    #upload-info{
      margin-left: 10px;
      font-size: 0px;
    }


    #uploadlabel {
      background-color: #005ea9;
      border-color:#005ea9;
      outline: none !important;
      box-shadow: none!important;
    }
    
    #uploadlabel:hover{
      background-color: #0000cc!important;
      border-color:#0000cc!important;
    }

    #infoicon{
      color: #005ea9;
      cursor: pointer; 
    }
    #infoicon:hover{
      color: #0000cc!important;
    }

    #warnungStatus{
      margin-top: 10px;
    }


    .table tr td:last-child {
      word-break: break-all;
      white-space: normal;
      font-size: 14px;
    }


    .button15 {
      background-color: #005ea9!important;
      border-color:#005ea9!important;
      outline: none !important;
      box-shadow: none!important;
      float: right;
      margin-top: 8.5px;
      font-size: 13px;
      height: 33px;
      margin-right: 50px;
      width: 80px;
    }
    
    
    .button15:hover{
      background-color: #0000cc!important;
      border-color:#0000cc!important;
    }

    .button16 {
      background-color: #005ea9!important;
      border-color:#005ea9!important;
      outline: none !important;
      box-shadow: none!important;
      float: right;
      margin-top: 8.5px;
      font-size: 13px;
      height: 33px;
      margin-left: 50px;
      width: 80px;
    }
    
    
    .button16:hover{
      background-color: #0000cc!important;
      border-color:#0000cc!important;
    }




    #delfile {
      color: #005ea9;
      padding-right: 0px;
      padding-left: 14px;
      font-size: 18px;
      cursor: pointer;
    }
    
    
    
    #delfile:hover {
      color: #0000cc;
    }



    @media screen and (max-width: 3000px) {
      .bootbox {
        margin-left: 0px;
        
      }
    }

    @media screen and (max-width: 577px) {
      .bootbox {
        margin-left: -1px!important;
        
      }
    }

    .alert {
      display: flex;
      justify-content: center;
    }
    
    
    
    /*
    modal button anpassen
    */
    #button5 {
    background-color: #005ea9;
    border-color:#005ea9;
    outline: none !important;
    box-shadow: none!important;
    }
    
    #button5:hover{
    background-color: #0000cc!important;
    border-color:#0000cc!important;
    }
    
    
    #tabelle2 tr {
    cursor: default;
    }
    
    .modal-backdrop {
      width: 100%;
      height: 100%;
    }

    #inputbild{
      opacity: 0;
      display: inline;
    }

    
    #blue {
      color:#005ea9;
    }

    #orange {
      color:#e89b02;
    }

    #red {
      color:red
    }

    #buttondefault{
      color: #005ea9;
      font-size: 12px;
    }

    #buttondefault:hover{
      color: #0000cc!important;
      }

      .hinzu1 {
        margin-right: auto;
      }
      .hinzu2 {
        margin-right: auto;
      }

    
      #leiste {
        display: flex;
        align-items: center;
        justify-content: center;
      }

      